.video{
    padding: 10px;
    margin: auto;
    align-content: center;
    text-align: center;
    p {
        color: black;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
    h2{
        color: black;
        text-align: center; 
    }
}
